@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#header1-5 H1 {
  text-align: center;
  font-size: 36px;
}
#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #000000;
}
#contacts1-14 B {
  font-size: 13px;
}
#contacts1-14 P {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#contacts1-14 DIV {
  font-size: 12px;
  text-align: center;
}


#dropdown-menu-2btn-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-17 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-17 .nav .link,
#dropdown-menu-2btn-17 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-17 .navbar,
#dropdown-menu-2btn-17 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-17 .dropdown-menu a:hover,
#dropdown-menu-2btn-17 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-17 .navbar-toggler {
  color: #000000;
}
#contacts1-18 B {
  font-size: 13px;
}
#contacts1-18 P {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#contacts1-18 DIV {
  font-size: 12px;
  text-align: center;
}


#dropdown-menu-2btn-22 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-22 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-22 .nav .link,
#dropdown-menu-2btn-22 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-22 .navbar,
#dropdown-menu-2btn-22 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-22 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-22 .dropdown-menu a:hover,
#dropdown-menu-2btn-22 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-22 .navbar-toggler {
  color: #000000;
}
#contacts1-23 B {
  font-size: 13px;
}
#contacts1-23 P {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#contacts1-23 DIV {
  font-size: 12px;
  text-align: center;
}


#header1-31 H1 {
  text-align: center;
  font-size: 36px;
}
#dropdown-menu-2btn-32 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-32 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-32 .nav .link,
#dropdown-menu-2btn-32 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-32 .navbar,
#dropdown-menu-2btn-32 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-32 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-32 .dropdown-menu a:hover,
#dropdown-menu-2btn-32 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-32 .navbar-toggler {
  color: #000000;
}
#contacts1-33 B {
  font-size: 13px;
}
#contacts1-33 P {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#contacts1-33 DIV {
  font-size: 12px;
  text-align: center;
}


#dropdown-menu-2btn-28 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-28 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-2btn-28 .nav .link,
#dropdown-menu-2btn-28 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-2btn-28 .navbar,
#dropdown-menu-2btn-28 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-28 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-28 .dropdown-menu a:hover,
#dropdown-menu-2btn-28 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-28 .navbar-toggler {
  color: #000000;
}
#contacts1-29 B {
  font-size: 13px;
}
#contacts1-29 P {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#contacts1-29 DIV {
  font-size: 12px;
  text-align: center;
}
